.mainContainer {
  padding-top: 7.5rem;
}

#title {
  font-size: x-large;
}

.checked {
    color: orange;
}

.posting {
  background-color: #e6ccff;
  height:28rem;
  border: 1px #e1e1d0 solid;
}

.jobTitle {
  bottom: 0;
  font-size: xx-large;
  text-align: center;
}

.jobImg {
  width: 100%;
  height: 70%;
}

.longPosting{
  background-color: #e6ccff;
}

h2, h3 {
  margin: 0 auto;
}